
.navbar {
	/* height: 65px; */
	background: rgba(8,8,106,1);
	text-decoration: none;
}
.navbar-brand-top{
	color: white;
	padding: 10px 10px;
	padding-top: 15px;
	font-family: "Segoe UI";
	font-size: 20px;
	letter-spacing: 3px;
	text-decoration: none;
}
.navbar-toggler {
	position: right;
}
.img-fluid {
	/* padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 0px; */
	vertical-align: middle;
	max-width: 30%;
}
.main-text {
	padding: 40px;
}
h3 {
	font-family:'Segoe UI';
	font-size:25px;
	margin-left: 40px;
	margin-bottom: 0px;
	margin-top: 20px;
	/* text-decoration:underline; */
	color: rgba(8,8,106,1);
	/* background-color: white; */
}
.common-page-heading-container {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}

.common-page-form select, input {
	background-color:white;
	width:200px;
	/* border-radius: 5px; */
	border-color: transparent;
}

.common-page-form-field {
	margin: 2px auto;
	text-align: center;
	font-family: "Times New Roman";
	font-size: 20px;
}

.common-page-form {
	/* background-color: rgba(8, 8, 106, 0.1); */
	border-width: 2px;
	/* border-style: solid; */
	/* border-color: #00204E; */
	/* border-radius: 20px; */
	padding: 20px;
	margin: 20px 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	font-family: "Times New Roman";
	font-size: 20px;
}

.common-page-sumbit-btn {
	margin-top: 20px;
}

.search-page-submit-btn {
	border-radius: 10px;
	text-align: center;
	height: 40px;
	background-color: rgba(8,8,106,0.1);
	color: rgba(8,8,106,1);
	font-family: "Times New Roman";
	font-size: 20px;
}

.common-page-form-container {
	margin: 0px 0px;
}