.graph-label:after {
    margin: 0px 40px;
}
.column {
    float: left;
}  
.graph-container {
    width: 30%;
}
.graphB-pie-chart {
    width: 70%;
}

.graphB {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 75%;
}