<!doctype html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="style/common.css">
<link rel="stylesheet" type="text/css" href="style/search.css">
<link rel="stylesheet" type="text/css" href="style/help.css">
<style>
    body {
      margin: 0;
    }
</style>
<head>
    <body>
    <div class="navbar" role="navigation">
        <img src="frontend/logo.jpg"  class="img-fluid"/>
        <a class="navbar-brand-top" href="/" style="text-decoration:none;">
            <i class="fa fa-home" style="margin-right: 5px;"></i>
            Home </a>
        <a class="navbar-brand-top" href="/search_dataset">
            <i class="fa fa-database" style="margin-right: 5px;"></i>
            Dataset</a>
        <a class="navbar-brand-top" href="/search_gene">
            <i class="fa fa-search" style="margin-right: 5px;"></i>
            Gene</a>
        <a class="navbar-brand-top" href="/statistics">
            <i class="fa fa-bar-chart" style="margin-right: 5px;"></i>
            Statistics</a>
        <a class="navbar-brand-top" href="/help"> 
            <i class="fa fa-info-circle" style="margin-right: 5px;"></i>
            Help</a>     
    </div>
</head>

<div id="home-page-introduction">    
    <p>Welcome to scTumorAtlas website for tumor genomic and transcriptomic data.</p>
    <div id="home-page-feedback-text">If you have any questions or comments regarding to scTumorAtlas, you may contact us by sending an <a href="mailto:alex.olson@utoronto.ca">email </a></div>
</div>
<h3> Home Page </h3>
<div class="help-page-text">
    <!-- explanation of home page information -->
    <p>Home page include the basic information of scTumorAtlas project</p>
</div>
<h3> Search Page </h3>
<div class="help-page-text">
    <!-- explanation of search page information -->
    <p> Search a gene across cancer types. A heatmap and a violin plot 
        will be displayed to show the expression of a given gene in different cell 
        types across selected datasets. We recommend users to choose several specific 
        cancer types rather than all cancer types for a quick response.</p>
</div>
<h3> Statistics Page </h3>
<div class="help-page-text">
    <!-- explanation of statistics page information -->
    <p> Search and compare two datasets statistics graphs.</p>
</div>
<h3> Download Page </h3>
<div class="help-page-text">
    <!-- explanation of download page information -->
    <p> Download datasets by simple search</p>
</div>
<h3> FAQ </h3>
<h4> Citation </h4>
<h4> Download </h4>
<div class="help-page-text">
    <p> 1. Is there a way to download all datasets in a batch?</p>
    <p> 2. How to download the pictures of high resolution in TISCH?</p>
</div>